In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from traceutils.as2org.as2org import AS2Org
import bdrmapit_parser.graph.construct as gc
import algorithm.algorithm as alg
import algorithm.finish as fin
import algorithm.last_hop as lh
from bdrmapit_parser.algorithm.bdrmapit import Bdrmapit
from bdrmapit_parser.algorithm.updates_dict import Updates
import pickle
from traceutils.bgp.bgp import BGP
from traceutils.radix.ip2as import IP2AS, create_table
from time import time
import verify_bdrmapit.att2018.attparse2018 as att
import verify_bdrmapit.i2.parseri2 as i2
import verify_bdrmapit.reannz.reannzparse as reannz
from verify_bdrmapit.verify import Verify, comparison

In [3]:
ip2as = create_table('../ip2as/test.csv')

In [4]:
as2org = AS2Org('../retrieve-external/orgs/20181001.as-org2info.txt.gz')

In [5]:
bgp = BGP('../retrieve-external/rels/20180801.as-rel.txt.bz2', '../retrieve-external/rels/20180801.ppdc-ases.txt.bz2')

In [6]:
verify_dict = {
    'ATT': att.att_gt2018(
        '../verify_bdrmapit/verify_bdrmapit/att2018/atl3-us.as7018.interesting.csv.foo',
        '../verify_bdrmapit/verify_bdrmapit/att2018/lwc2-us.as7018.interesting.csv.foo',
        '../verify_bdrmapit/verify_bdrmapit/att2018/msn3-us.as7018.interesting.csv.foo',
        '../verify_bdrmapit/verify_bdrmapit/att2018/oak5-us.as7018.interesting.csv.foo',
        '../verify_bdrmapit/verify_bdrmapit/att2018/san7-us.as7018.interesting.csv.foo',
    ),
    'I2': i2.parse('../verify_bdrmapit/verify_bdrmapit/i2/show_interfaces.20180313.xml', ip2as, 'primary'),
    'TRCPS': i2.parse('../verify_bdrmapit/verify_bdrmapit/i2/show_interfaces.20180313.xml', ip2as, 'trcps'),
    'REANNZ': reannz.reannz_gt('../verify_bdrmapit/verify_bdrmapit/reannz/bgp-peers.txt', use_otherside=False)
}
{k: len(v) for k, v in verify_dict.items()}

192.69.118.161 11537 393676 [RE] ZenEdge interface | I2-S71728

{'ATT': 2686, 'I2': 3405, 'TRCPS': 591, 'REANNZ': 227}

In [7]:
s = time()
with open('results2.pickle', 'rb') as f:
    results = pickle.load(f)
e = time()
e - s

6.3187971115112305

In [8]:
s = time()
graph = gc.construct_graph(results['addrs'], results['nexthop'], results['multi'], results['dps'], ip2as, as2org)
e = time()
e - s

29.510032176971436

In [9]:
bdrmapit = Bdrmapit(graph, as2org, bgp)

In [10]:
verify = Verify(bdrmapit, verify_dict)

In [11]:
routers_succ = [router for router in graph.routers.values() if router.succ]
len(routers_succ)

514897

In [12]:
routers_nosucc = [router for router in graph.routers.values() if not router.succ]
len(routers_nosucc)

893155

In [13]:
interfaces_pred = [interface for interface in graph.interfaces.values() if interface.pred]
len(interfaces_pred)

1319575

In [14]:
verify_interfaces = {k: [graph.interfaces[i] for i in v if i in graph.interfaces] for k, v in verify.interfaces().items()}
{k: len(v) for k, v in verify_interfaces.items()}

{'ATT': 2023, 'I2': 282, 'REANNZ': 33, 'TRCPS': 222}

In [15]:
verify_interfaces_nosucc = {k: [i for i in v if not i.router.succ] for k, v in verify_interfaces.items()}
{k: len(v) for k, v in verify_interfaces_nosucc.items()}

{'ATT': 1308, 'I2': 14, 'REANNZ': 18, 'TRCPS': 13}

In [16]:
verify_interfaces_succ = {k: [i for i in v if i.router.succ] for k, v in verify_interfaces.items()}
{k: len(v) for k, v in verify_interfaces_succ.items()}

{'ATT': 715, 'I2': 268, 'REANNZ': 15, 'TRCPS': 209}

In [17]:
verify_interfaces_pred = {k: [i for i in v if i.pred] for k, v in verify_interfaces.items()}
{k: len(v) for k, v in verify_interfaces_pred.items()}

{'ATT': 2019, 'I2': 281, 'REANNZ': 33, 'TRCPS': 217}

In [18]:
verify_interfaces_refine = {k: [i for i in v if i.pred or i.router.succ] for k, v in verify_interfaces.items()}
{k: len(v) for k, v in verify_interfaces_refine.items()}

{'ATT': 2019, 'I2': 282, 'REANNZ': 33, 'TRCPS': 221}

In [19]:
fin.set_dests(bdrmapit)

Modifying interface dests 100.00% (1,408,052 / 1,408,052).
Setting destinations 100.00% (1,408,052 / 1,408,052).

In [20]:
lh.annotate_lasthops(bdrmapit, routers_nosucc)

Last Hops 100.00% (893,155 / 893,155). Is 710 Ds 892,445

In [21]:
lv = verify.verify(verify_interfaces_nosucc, Updates(), Updates())
lv.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1280.0,28.0,0.978593,1280.0,5.0,0.0,23.0,0.996109,0.982348,0.978593,NaN,NaN,0.996109,0.982348
I2,12.0,2.0,0.857143,8.0,2.0,3.0,1.0,0.800000,0.888889,0.727273,NaN,NaN,0.800000,0.888889
REANNZ,17.0,1.0,0.944444,14.0,0.0,3.0,1.0,1.000000,0.933333,0.933333,NaN,NaN,1.000000,0.933333
TRCPS,9.0,4.0,0.692308,3.0,1.0,0.0,9.0,0.750000,0.250000,0.230769,NaN,NaN,0.750000,0.250000

In [62]:
r1 = Updates()
i1 = Updates()
alg.annotate_routers(bdrmapit, r1, i1, routers_succ)
r1.advance()

Annotating routers 100.00% (514,897 / 514,897).

In [64]:
rv1[(rv1.dataset == 'ATT') & ~rv1.rv & (rv1.rtype >= 100000)]

,addr,tasn,tconn_asn,torg,tconn_org,dataset,cone,router,conn_asn,conn_org,itype,asn,org,rtype,rv,lv
275,12.86.161.230,2140,7018,ISSC-5-ARIN,ATTW-Z-ARIN,ATT,2,12.86.161.230,7018,ATTW-Z-ARIN,-1,7018,ATTW-Z-ARIN,1000000,False,FN

In [63]:
rv1 = verify.verify(verify_interfaces_succ, r1, Updates())
rv1.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,654.0,61.0,0.914685,624.0,7.0,15.0,69.0,0.988906,0.900433,0.891429,NaN,NaN,0.988906,0.900433
I2,241.0,27.0,0.899254,48.0,15.0,113.0,92.0,0.761905,0.342857,0.309677,NaN,NaN,0.761905,0.342857
REANNZ,13.0,2.0,0.866667,9.0,0.0,2.0,4.0,1.000000,0.692308,0.692308,NaN,NaN,1.000000,0.692308
TRCPS,158.0,51.0,0.755981,57.0,8.0,0.0,144.0,0.876923,0.283582,0.272727,NaN,NaN,0.876923,0.283582

In [38]:
rv1 = verify.verify(verify_interfaces_succ, r1, Updates())
rv1.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,654.0,61.0,0.914685,624.0,8.0,15.0,68.0,0.987342,0.901734,0.891429,NaN,NaN,0.987342,0.901734
I2,238.0,30.0,0.888060,48.0,18.0,111.0,91.0,0.727273,0.345324,0.305732,NaN,NaN,0.727273,0.345324
REANNZ,13.0,2.0,0.866667,9.0,0.0,2.0,4.0,1.000000,0.692308,0.692308,NaN,NaN,1.000000,0.692308
TRCPS,158.0,51.0,0.755981,57.0,8.0,0.0,144.0,0.876923,0.283582,0.272727,NaN,NaN,0.876923,0.283582

In [24]:
rv1 = verify.verify(verify_interfaces_succ, r1, Updates())
rv1.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,658.0,57.0,0.920280,628.0,9.0,15.0,63.0,0.985871,0.908828,0.897143,NaN,NaN,0.985871,0.908828
I2,238.0,30.0,0.888060,48.0,18.0,111.0,91.0,0.727273,0.345324,0.305732,NaN,NaN,0.727273,0.345324
REANNZ,13.0,2.0,0.866667,9.0,0.0,2.0,4.0,1.000000,0.692308,0.692308,NaN,NaN,1.000000,0.692308
TRCPS,158.0,51.0,0.755981,57.0,8.0,0.0,144.0,0.876923,0.283582,0.272727,NaN,NaN,0.876923,0.283582

In [27]:
rv1 = verify.verify(verify_interfaces_succ, r1, Updates())
rv1.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,658.0,57.0,0.920280,628.0,12.0,15.0,60.0,0.981250,0.912791,0.897143,NaN,NaN,0.981250,0.912791
I2,240.0,28.0,0.895522,50.0,19.0,112.0,87.0,0.724638,0.364964,0.320513,NaN,NaN,0.724638,0.364964
REANNZ,13.0,2.0,0.866667,9.0,0.0,2.0,4.0,1.000000,0.692308,0.692308,NaN,NaN,1.000000,0.692308
TRCPS,159.0,50.0,0.760766,59.0,9.0,0.0,141.0,0.867647,0.295000,0.282297,NaN,NaN,0.867647,0.295000

In [77]:
with alg.Debug():
    result = alg.annotate_router(bdrmapit, graph.routers['162.252.70.87'], Updates(), Updates())
result

Edges=1, NH=True
Succ=149.165.254.2, ASN=19782, Origins={11537}
	ASN=19782, RASN=-1, IASN=-1 VRF=False
Heuristic: 19782
Succs: Counter({19782: 1})
IASNS: Counter({11537: 1})
Provider: 11537->19782

(19782, 11)

In [74]:
as2org.name(32440)

'Louisiana Board of Regents/Louisiana Optical Network Initiative (LONI)'

In [53]:
bgp.reltype(11537, 11164)

4

In [78]:
with alg.Debug():
    result = alg.annotate_router(bdrmapit, graph.routers['162.252.70.87'], r1, i1)
result

Edges=1, NH=True
Succ=149.165.254.2, ASN=19782, Origins={11537}
	ASN=19782, RASN=19782, IASN=19782 VRF=False
Heuristic: 19782
Succs: Counter({19782: 1})
IASNS: Counter({11537: 1})
Provider: 11537->19782

(19782, 11)

In [79]:
with alg.Debug():
    result = alg.annotate_interface(bdrmapit, graph.interfaces['149.165.254.2'], r1)
result

VRF: False
Router=162.252.70.153, RASN=11537
Router=162.252.70.87, RASN=19782
Votes: Counter({11537: 1, 19782: 1})
MaxNum: [11537, 19782]
Rels: [11537, 19782]
Sorted Rels: [19782, 11537]

(19782, 2)

In [31]:
ip2as['143.215.193.3']

2637

In [28]:
rv1[(rv1.dataset == 'I2') & ~rv1.rv]

,addr,tasn,tconn_asn,torg,tconn_org,dataset,cone,router,conn_asn,conn_org,itype,asn,org,rtype,rv,lv
733,192.69.118.160,393676,11537,ORACLE-4-ARIN,INTER-395-ARIN,I2,22,192.69.118.160,393676,ORACLE-4-ARIN,-2,11537,INTER-395-ARIN,15,False,FP
743,205.147.92.12,393676,11537,ORACLE-4-ARIN,INTER-395-ARIN,I2,22,205.147.92.12,393676,ORACLE-4-ARIN,-2,11537,INTER-395-ARIN,15,False,FP
753,162.252.70.96,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.96,11537,INTER-395-ARIN,-2,10755,DARTMO-Z-ARIN,70,False,FP
766,162.252.70.42,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.42,11537,INTER-395-ARIN,-2,10490,GIT-Z-ARIN,100,False,FP
779,162.252.70.40,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.40,11537,INTER-395-ARIN,-2,32440,LOUIS-3-ARIN,11,False,FP
810,162.252.70.87,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.87,11537,INTER-395-ARIN,-2,19782,INDIAN-ARIN,11,False,FP
812,162.252.70.89,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.89,11537,INTER-395-ARIN,-2,10437,UKCS-ARIN,100,False,FP
817,162.252.70.51,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.51,11537,INTER-395-ARIN,-2,4130,UNIVER-9-ARIN,70,False,FP
861,162.252.70.30,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.30,11537,INTER-395-ARIN,-2,3851,SCS-185-ARIN,11,False,FP
874,128.163.164.169,393676,11537,ORACLE-4-ARIN,INTER-395-ARIN,I2,22,128.163.164.169,23162,UNIVER-150-ARIN,-1,23162,UNIVER-150-ARIN,50,False,FN
885,162.252.70.118,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.118,11537,INTER-395-ARIN,-2,55,UNIVER-8-ARIN,70,False,FP
889,198.71.46.162,2900,11537,ATUN-ARIN,INTER-395-ARIN,I2,1,198.71.46.162,11537,INTER-395-ARIN,-2,62600,ABR-13-ARIN,10050,False,FP
892,205.186.224.49,2721,11537,CULRL-ARIN,INTER-395-ARIN,I2,4,205.186.224.49,2721,CULRL-ARIN,-2,53257,THECIT-4-ARIN,70,False,FP
904,64.57.28.207,210,11537,UEN-4-ARIN,INTER-395-ARIN,I2,9,64.57.28.207,11537,INTER-395-ARIN,-2,46435,IRON-ARIN,11,False,FP
912,198.71.46.220,3388,11537,UNM-ARIN,INTER-395-ARIN,I2,1,198.71.46.220,11537,INTER-395-ARIN,-2,40498,NMLR-ARIN,50,False,FP
914,198.71.46.34,10764,11537,NCSA-3-ARIN,INTER-395-ARIN,I2,1,198.71.46.34,11537,INTER-395-ARIN,-2,24167,@aut-24167-APNIC,70,False,FP
917,117.103.111.154,9264,11537,ORG-ASCC1-AP-APNIC,INTER-395-ARIN,I2,13,117.103.111.154,24167,@aut-24167-APNIC,-1,24167,@aut-24167-APNIC,10,False,FN
925,72.36.127.182,11537,40387,INTER-395-ARIN,UIUC-ARIN,I2,895,72.36.127.182,40387,UIUC-ARIN,-2,1224,NCSA-3-ARIN,11,False,FP
926,198.71.46.75,2900,11537,ATUN-ARIN,INTER-395-ARIN,I2,1,198.71.46.75,11537,INTER-395-ARIN,-2,62600,ABR-13-ARIN,100,False,FP
932,198.71.45.237,20965,11537,ORG-DLCU1-RIPE,INTER-395-ARIN,I2,653,198.71.45.237,11537,INTER-395-ARIN,-1,11537,INTER-395-ARIN,200,False,FN
943,62.40.125.18,11537,21320,INTER-395-ARIN,ORG-DLCU1-RIPE,I2,895,62.40.125.18,21320,ORG-DLCU1-RIPE,-1,21320,ORG-DLCU1-RIPE,250,False,FN
944,64.57.28.74,6879,11537,ORG-EA21-AFRINIC,INTER-395-ARIN,I2,2,64.57.28.74,11537,INTER-395-ARIN,-2,10490,GIT-Z-ARIN,10050,False,FP
950,180.149.48.13,11537,55824,INTER-395-ARIN,ORG-NKN1-AP-APNIC,I2,895,180.149.48.13,55824,ORG-NKN1-AP-APNIC,-1,9885,ORG-NKN1-AP-APNIC,10050,False,FN
951,198.71.45.173,8895,11537,ORG-KA17-RIPE,INTER-395-ARIN,I2,7,198.71.45.173,11537,INTER-395-ARIN,-2,3356,LPL-141-ARIN,15,False,FP
952,198.71.46.11,206350,11537,ORG-TRCR1-RIPE,INTER-395-ARIN,I2,1,198.71.46.11,11537,INTER-395-ARIN,-1,11537,INTER-395-ARIN,200,False,FN
954,62.40.124.47,11537,20965,INTER-395-ARIN,ORG-DLCU1-RIPE,I2,895,62.40.124.47,21320,ORG-DLCU1-RIPE,-1,21320,ORG-DLCU1-RIPE,250,False,FN
973,10.110.0.1,11537,-1,INTER-395-ARIN,-1,I2,895,10.110.0.1,-1,-1,-1,-1,-1,-1,False,FN
982,62.40.124.45,11537,21320,INTER-395-ARIN,ORG-DLCU1-RIPE,I2,895,62.40.124.45,21320,ORG-DLCU1-RIPE,-1,21320,ORG-DLCU1-RIPE,250,False,FN

In [65]:
alg.annotate_interfaces(bdrmapit, r1, i1, interfaces_pred)
i1.advance()

Adding links 100.00% (1,319,575 / 1,319,575).

In [66]:
iv1 = verify.verify(verify_interfaces_refine, r1, i1)
iv1.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1930.0,89.0,0.955919,1915.0,16.0,15.0,73.0,0.991714,0.963280,0.955589,NaN,NaN,0.991714,0.963280
I2,253.0,29.0,0.897163,131.0,23.0,112.0,16.0,0.850649,0.891156,0.770588,NaN,NaN,0.850649,0.891156
REANNZ,30.0,3.0,0.909091,25.0,0.0,5.0,3.0,1.000000,0.892857,0.892857,NaN,NaN,1.000000,0.892857
TRCPS,167.0,54.0,0.755656,80.0,37.0,0.0,104.0,0.683761,0.434783,0.361991,NaN,NaN,0.683761,0.434783

In [41]:
iv1 = verify.verify(verify_interfaces_refine, r1, i1)
iv1.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1930.0,89.0,0.955919,1915.0,17.0,15.0,72.0,0.991201,0.963764,0.955589,NaN,NaN,0.991201,0.963764
I2,250.0,32.0,0.886525,127.0,27.0,110.0,18.0,0.824675,0.875862,0.738372,NaN,NaN,0.824675,0.875862
REANNZ,30.0,3.0,0.909091,25.0,0.0,5.0,3.0,1.000000,0.892857,0.892857,NaN,NaN,1.000000,0.892857
TRCPS,167.0,54.0,0.755656,80.0,37.0,0.0,104.0,0.683761,0.434783,0.361991,NaN,NaN,0.683761,0.434783

In [28]:
iv1 = verify.verify(verify_interfaces_refine, r1, i1)
iv1.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1934.0,85.0,0.957900,1919.0,18.0,15.0,67.0,0.990707,0.966264,0.957585,NaN,NaN,0.990707,0.966264
I2,250.0,32.0,0.886525,127.0,27.0,110.0,18.0,0.824675,0.875862,0.738372,NaN,NaN,0.824675,0.875862
REANNZ,30.0,3.0,0.909091,25.0,0.0,5.0,3.0,1.000000,0.892857,0.892857,NaN,NaN,1.000000,0.892857
TRCPS,167.0,54.0,0.755656,80.0,37.0,0.0,104.0,0.683761,0.434783,0.361991,NaN,NaN,0.683761,0.434783

In [42]:
iv1 = verify.verify(verify_interfaces_refine, r1, i1)
iv1.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1934.0,85.0,0.957900,1919.0,21.0,15.0,64.0,0.989175,0.967726,0.957585,NaN,NaN,0.989175,0.967726
I2,252.0,30.0,0.893617,130.0,27.0,112.0,13.0,0.828025,0.909091,0.764706,NaN,NaN,0.828025,0.909091
REANNZ,30.0,3.0,0.909091,24.0,0.0,5.0,4.0,1.000000,0.857143,0.857143,NaN,NaN,1.000000,0.857143
TRCPS,168.0,53.0,0.760181,81.0,38.0,0.0,102.0,0.680672,0.442623,0.366516,NaN,NaN,0.680672,0.442623

In [67]:
r2 = r1.make_copy()
i2 = i1.make_copy()
alg.annotate_routers(bdrmapit, r2, i2, routers_succ)
r2.advance()

Annotating routers 100.00% (514,897 / 514,897).

In [68]:
rv2 = verify.verify(verify_interfaces_refine, r2, i1)
rv2.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1935.0,84.0,0.958395,1920.0,17.0,15.0,67.0,0.991224,0.966281,0.958084,NaN,NaN,0.991224,0.966281
I2,262.0,20.0,0.929078,137.0,19.0,115.0,11.0,0.878205,0.925676,0.820359,NaN,NaN,0.878205,0.925676
REANNZ,30.0,3.0,0.909091,25.0,0.0,5.0,3.0,1.000000,0.892857,0.892857,NaN,NaN,1.000000,0.892857
TRCPS,168.0,53.0,0.760181,82.0,38.0,0.0,101.0,0.683333,0.448087,0.371041,NaN,NaN,0.683333,0.448087

In [43]:
rv2 = verify.verify(verify_interfaces_refine, r2, i1)
rv2.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1935.0,84.0,0.958395,1920.0,19.0,15.0,65.0,0.990201,0.967254,0.958084,NaN,NaN,0.990201,0.967254
I2,260.0,22.0,0.921986,133.0,22.0,114.0,13.0,0.858065,0.910959,0.791667,NaN,NaN,0.858065,0.910959
REANNZ,30.0,3.0,0.909091,25.0,0.0,5.0,3.0,1.000000,0.892857,0.892857,NaN,NaN,1.000000,0.892857
TRCPS,168.0,53.0,0.760181,82.0,38.0,0.0,101.0,0.683333,0.448087,0.371041,NaN,NaN,0.683333,0.448087

In [35]:
rv2 = verify.verify(verify_interfaces_refine, r2, i1)
rv2.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1935.0,84.0,0.958395,1920.0,19.0,15.0,65.0,0.990201,0.967254,0.958084,NaN,NaN,0.990201,0.967254
I2,260.0,22.0,0.921986,133.0,22.0,114.0,13.0,0.858065,0.910959,0.791667,NaN,NaN,0.858065,0.910959
REANNZ,30.0,3.0,0.909091,25.0,0.0,5.0,3.0,1.000000,0.892857,0.892857,NaN,NaN,1.000000,0.892857
TRCPS,168.0,53.0,0.760181,82.0,38.0,0.0,101.0,0.683333,0.448087,0.371041,NaN,NaN,0.683333,0.448087

In [30]:
rv2 = verify.verify(verify_interfaces_refine, r2, i1)
rv2.groupby('dataset').apply(comparison)

,rt,rf,racc,itp,ifp,itn,ifn,ppv,recall,iacc,ppvs,recalls,ppvl,recalll
dataset,,,,,,,,,,,,,,
ATT,1939.0,80.0,0.960376,1924.0,20.0,15.0,60.0,0.989712,0.969758,0.960080,NaN,NaN,0.989712,0.969758
I2,249.0,33.0,0.882979,132.0,32.0,105.0,13.0,0.804878,0.910345,0.745763,NaN,NaN,0.804878,0.910345
REANNZ,30.0,3.0,0.909091,25.0,0.0,5.0,3.0,1.000000,0.892857,0.892857,NaN,NaN,1.000000,0.892857
TRCPS,168.0,53.0,0.760181,82.0,38.0,0.0,101.0,0.683333,0.448087,0.371041,NaN,NaN,0.683333,0.448087

In [76]:
# rv2[(rv2.dataset == 'I2') & ~rv2.rv & rv2.router.isin(rv1[(rv1.dataset == 'I2') & rv1.rv].router)]
rv2[(rv2.dataset == 'I2') & ~rv2.rv & (rv2.rtype >= 10)]

,addr,tasn,tconn_asn,torg,tconn_org,dataset,cone,router,conn_asn,conn_org,itype,asn,org,rtype,rv,lv
2049,205.147.92.12,393676,11537,ORACLE-4-ARIN,INTER-395-ARIN,I2,22,205.147.92.12,393676,ORACLE-4-ARIN,-2,11537,INTER-395-ARIN,50,False,FP
2087,162.252.70.40,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.40,11537,INTER-395-ARIN,-2,32440,LOUIS-3-ARIN,11,False,FP
2120,162.252.70.87,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.87,11537,INTER-395-ARIN,-2,19782,INDIAN-ARIN,11,False,FP
2122,162.252.70.89,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.89,11537,INTER-395-ARIN,-2,10437,UKCS-ARIN,11,False,FP
2173,162.252.70.30,11537,11537,INTER-395-ARIN,INTER-395-ARIN,I2,895,162.252.70.30,11537,INTER-395-ARIN,-2,3851,SCS-185-ARIN,11,False,FP
2186,128.163.164.169,393676,11537,ORACLE-4-ARIN,INTER-395-ARIN,I2,22,128.163.164.169,10437,UKCS-ARIN,2,23162,UNIVER-150-ARIN,10,False,FP
2203,198.71.46.162,2900,11537,ATUN-ARIN,INTER-395-ARIN,I2,1,198.71.46.162,11537,INTER-395-ARIN,-2,62600,ABR-13-ARIN,50,False,FP
2218,64.57.28.207,210,11537,UEN-4-ARIN,INTER-395-ARIN,I2,9,64.57.28.207,11537,INTER-395-ARIN,-2,46435,IRON-ARIN,11,False,FP
2226,198.71.46.220,3388,11537,UNM-ARIN,INTER-395-ARIN,I2,1,198.71.46.220,11537,INTER-395-ARIN,-2,40498,NMLR-ARIN,11,False,FP
2231,117.103.111.154,9264,11537,ORG-ASCC1-AP-APNIC,INTER-395-ARIN,I2,13,117.103.111.154,11537,INTER-395-ARIN,1,24167,@aut-24167-APNIC,10,False,FP
2240,72.36.127.182,11537,40387,INTER-395-ARIN,UIUC-ARIN,I2,895,72.36.127.182,40387,UIUC-ARIN,-2,1224,NCSA-3-ARIN,11,False,FP
2241,198.71.46.75,2900,11537,ATUN-ARIN,INTER-395-ARIN,I2,1,198.71.46.75,11537,INTER-395-ARIN,-2,62600,ABR-13-ARIN,50,False,FP
2247,198.71.45.237,20965,11537,ORG-DLCU1-RIPE,INTER-395-ARIN,I2,653,198.71.45.237,11537,INTER-395-ARIN,2,11537,INTER-395-ARIN,200,False,FN
2260,64.57.28.74,6879,11537,ORG-EA21-AFRINIC,INTER-395-ARIN,I2,2,64.57.28.74,11537,INTER-395-ARIN,-2,10490,GIT-Z-ARIN,70,False,FP
2266,180.149.48.13,11537,55824,INTER-395-ARIN,ORG-NKN1-AP-APNIC,I2,895,180.149.48.13,55824,ORG-NKN1-AP-APNIC,1,9885,ORG-NKN1-AP-APNIC,10050,False,FN
2268,198.71.46.11,206350,11537,ORG-TRCR1-RIPE,INTER-395-ARIN,I2,1,198.71.46.11,11537,INTER-395-ARIN,0,11537,INTER-395-ARIN,10,False,FN
2299,62.40.124.45,11537,21320,INTER-395-ARIN,ORG-DLCU1-RIPE,I2,895,62.40.124.45,21320,ORG-DLCU1-RIPE,1,21320,ORG-DLCU1-RIPE,250,False,FN

In [102]:
addr = '128.163.164.169'

In [103]:
i = graph.interfaces[addr]
r = graph.routers[addr]

In [104]:
i.asn

23162

In [105]:
do = r1.get(r, bdrmapit.lhupdates.get(r))
do

In [106]:
as2org.name(do.asn)

'University of Kentucky'

In [107]:
doi = i1[i]
doi

In [108]:
as2org.name(doi.asn)

'University of Kentucky, Communication Services'

In [109]:
', '.join(map(str, results['dps'][addr]))

'33632, 22944, 3714, 32071, 14760, 30700, 13327, 1657, 23162, 33629'

In [110]:
with alg.Debug():
    alg.annotate_router(bdrmapit, r, Updates(), Updates())

Edges=10, NH=True
Succ=128.163.164.185, ASN=23162, Origins={23162}
	ASN=23162, RASN=18, IASN=-1 VRF=False
Heuristic: 23162
Succ=128.163.164.150, ASN=23162, Origins={23162}
	ASN=23162, RASN=23162, IASN=-1 VRF=False
Heuristic: 23162
Succ=128.163.164.162, ASN=23162, Origins={23162}
	ASN=23162, RASN=18, IASN=-1 VRF=False
Heuristic: 23162
Succ=128.163.164.153, ASN=23162, Origins={23162}
	ASN=23162, RASN=18, IASN=-1 VRF=False
Heuristic: 23162
Succ=128.163.164.137, ASN=23162, Origins={23162}
	ASN=23162, RASN=18, IASN=-1 VRF=False
Heuristic: 23162
Succ=128.163.164.146, ASN=23162, Origins={23162}
	ASN=23162, RASN=18, IASN=-1 VRF=False
Heuristic: 23162
Succ=128.163.21.158, ASN=23162, Origins={23162}
	ASN=23162, RASN=18, IASN=-1 VRF=False
Heuristic: 23162
Succ=199.120.154.81, ASN=3714, Origins={23162}
	ASN=3714, RASN=18, IASN=-1 VRF=False
	Third party: Router=199.120.154.81, RASN=18
Heuristic: 3714
Succ=128.163.164.133, ASN=23162, Origins={23162}
	ASN=23162, RASN=18, IASN=-1 VRF=False
Heuristic: 23162
Succ=128.163.164.141, ASN=23162, Origins={23162}
	ASN=23162, RASN=18, IASN=-1 VRF=False
Heuristic: 23162
Succs: Counter({23162: 9, 3714: 1})
Same: {23162: ['128.163.164.185', '128.163.164.150', '128.163.164.162', '128.163.164.153', '128.163.164.137', '128.163.164.146', '128.163.21.158', '128.163.164.133', '128.163.164.141']}
Prefixes: {'128.163.164', '128.163.21'}
IASNS: Counter({23162: 1})
Votes: Counter({23162: 10, 3714: 1})
IASN in Succs: [23162]
AllOrigins={23162}, Remaining={3714}
Vote Rels: [23162]

In [111]:
with alg.Debug():
    alg.annotate_interface(bdrmapit, i, r1)

VRF: False
Router=162.252.70.91, RASN=11537
Router=162.252.70.89, RASN=10437
Votes: Counter({11537: 1, 10437: 1})
MaxNum: [11537, 10437]
Rels: [10437]
Sorted Rels: [10437]

In [37]:
bgp.reltype(11537, 7497)

1